django
channels
uvicorn
bleach
requests
django_cron
djangorestframework
whitenoise
python-dotenv
dj-database-url
edge-tts
redis
channels-redis
django_redis
beautifulsoup4
groq
uvicorn[standard]
json5
lzstring
psycopg2-binary
python-dateutil
django_crontab
google-genai
fitz
pdf2image
pytesseract
pillow
django-cors-headers
celery
pyjwt
yookassa
django_ratelimit
markdown
exceptiongroup
python-telegram-bot==20.6
aiogram
